<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <title>Detail</title>
</head>
<body>
    <header>
        <div class="heade">
            <div class="logo">
            <a href="/">Djassa Online</a>
            </div>
            <nav>
                <ul>
                    <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                    <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/connexion"><i class="fas fa-user"></i></a></li>
                    <li><a href="/detail"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
         <% success.forEach(function(article){ %>
            <div class="detail">
                <div class="detail-image">
                    <img src="<%= article.image %>" alt="">
                </div>
                <div class="detail-content">
                    <p> <span><%= article.nom %> <%= article.model %> - <%= article.ecran %> -<%= article.reseau %> - <%= article.rom %> - <%= article.ram %></span> </p>
                    <p>Marque :  <span><%= article.nom %></span> </p>
                    <p>Référence :  <span><%= article.model %> </span> </p>
                    <div class="prix">
                        <p> <span><%= article.prix %></span> F CFA</p>
                        <div class="quantite">
                            <button id="decrement" onclick=""> - </button>
                            <input type="number" min="0" max="100"  step="5" value="1" id="my-input" readonly>
                            <button id="increment" onclick=""> + </button>
                        </div>
                        
                    
                        <button  class="ajouter"><a href="/panier/<%= article.id %>">AJOUTER AU PANIER</a></button>
                    </div>
                </div>
            </div>

            <div class="description">
            <div id="texte">
                <p>Description</p>
            </div>
                <div class="trait_dessus"></div>
                <div class="liste">
                <div class="liste-content">
                    <div class="liste-left">
                    <ul>
                        <li>Type de produit : <span><%= article.type_bien %></span> </li>
                        <li>Modèle : <span><%= article.model %></span></li>
                        <li>Réseau <span><%= article.reseau %></span></li>
                        <li>Dual SIM : <span><%= article.dual_sim %></span> </li>
                        <li>Écran :<span><%= article.ecran %></span> </li>
                        <li>Résolution :<span><%= article.resolution %></span> </li>
                        <li>Processeur :<span><%= article. processeur %></span> </li>
                        <li>Mémoire RAM :<span><%= article.ram %></span></li>
                    </ul>
                    </div>
                    <div class="trait_horizontal"></div>
                    <div class="liste-right">
                        <ul>
                            <li>Mémoire ROM :<span><%= article. rom %></span> </li>
                            <li>Camera arrière : <span><%= article. camera_arriere %></span> </li>
                            <li>Camera avant :<span><%= article. camera_avant %></span> </li>
                            <li>Système d'exploitation :<span><%= article. systeme_exploitation %></span> </li>
                            <li>Connectivités : <span><%= article. connectivite %></span></li>
                            <li>Batterie : <span><%= article. batterie %></span></li>
                            <li>Dimensions :<span><%= article. dimension %></span> </li>
                            <li>Poids :<span><%= article. poids %></span> </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
         <% }); %>
    </div>
   

    <script  src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/detail.js"></script>

</body>
</html>