<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inscription.css">
    <title>Inscription</title>
</head>
<body>
    
<header>
    <div class="heade">
        <div class="logo">
        <a href="/">Djassa Online</a>
        </div>
        <nav>
            <ul>
                <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="/connexion"><i class="fas fa-user"></i></a></li>
                <li><a href="/panier"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="ImageHeader">
    <section class="content">
        <div class="cadre">
            
            <div class="text-content">
                <h1>INSCRIPTION</h1>
                <p>Inscrivez vous pour beneficier de nos produits.</p>
            </div>
                    <% if (typeof alert !="undefined" && alert.message) { %>
                        <div class="validation">
                            <%= alert.message %>
                        </div>
                     <% }%>
                    <form action="/inscription" method="post">
                        <div class="name">
                            <div  class="input-form">
                                <% if (typeof alert !="undefined" && alert.nom) { %>
                                    <div class="validation">
                                        <%= alert.nom.msg %>
                                    </div>
                                    <% }%>
                                <input type="text" class="input" name="nom" placeholder=" ">
                                <label for="nom">Nom</label>
                               
                               
                            </div>
                            <div  class="input-form">
                                <% if (typeof alert !="undefined" && alert.prenom) { %>
                                    <div class="validation">
                                        <%= alert.prenom.msg %>
                                    </div>
                                    <% }%>
                                <input type="text" class="input" name="prenom" placeholder=" ">
                                <label for="prenom">Premon</label>
                            </div>
                        </div>
                        <div class="name">
                            <div class="input-form">
                                <% if (typeof alert !="undefined" && alert.email) { %>
                                    <div class="validation">
                                        <%= alert.email.msg %>
                                    </div>
                                    <% }%>
                                <input type="email" class="input" name="email" placeholder=" ">
                                <label for="email">Adresse Email</label> 
                            </div>
                            <div class="input-form">
                                <% if (typeof alert !="undefined" && alert.numero) { %>
                                    <div class="validation">
                                        <%= alert.numero.msg %>
                                    </div>
                                    <% }%>
                                <input type="tel" class="input" name="numero" placeholder=" ">
                                <label for="numero">Numéro téléphone</label>
                            </div>
                        </div>
                        <div class="name">
                            <div  class="input-form">
                                <input type="password" class="input" name="password" placeholder=" ">
                                <label for="password">Mot de passe</label>
                            </div>
                              <div class="input-form">
                                <% if (typeof alert !="undefined" && alert.confirmer_password) { %>
                                    <div class="validation">
                                        <%= alert.confirmer_password.msg %>
                                    </div>
                                    <% }%>
                                    <input type="password" class="input" name="confirmer_password" placeholder=" ">
                                    <label for="confirmer_password">Confirmer le Mot de passe</label>      
                              </div>
                              
                              <div style="display:none;">
                                    <input type="date"  id="date_ajour" name="date_ajouter" value="">
                                    <input type="date"  id="date_ajour" name="date_update" value="">
                              </div>

                         </div>
                                <button name="modal" value="true" id="open">Enregister</button>
                    </form>
        </div>
    </section>
</div>



    <script src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/inscription.js"></script>
</body>
</html>